div{
  text-align: center;
  border: 1px solid #ece7e7;
  border-radius: 10px;
  margin: 5em auto;
  width: 100%;
  box-shadow:2px 2px #c9c9c9;
  margin-top: 20px;
}

button{
  width: 10%;
  padding: 5px;
  margin-left: 10px;
}

input{
  width: 10%;
  padding: 5px;
}

ul{
  text-align: center;
  list-style: none;
  font-size: 20px;
}
li button{
  width: 5%;
  padding: 5px;
  text-align: center;
  margin-left: solid;
  background-color: red;
  border-radius: 8px;
  color: white;
  border-color: white;
}